<html lang="en">
<%- include('../templates/head') %> 
<body class="relative">
   <%- include('../templates/nav') %> 
   <%- body %>
   <script src="../../dist/scripts/<%= path%>.js"></script>
</body>
</html>