<main class="mx-[100px] mt-[5rem] mb-[4rem] lg:mx-[80px] sm:mx-[30px]">
   <h5 class="tracking-widest sm:text-[22px]"><span class="opacity-50 mr-5">01</span>PICK YOUR DESTINATION</h5>
   <div class="grid mt-[5rem] grid-cols-2 gap-[2rem] destination-grid lg:block">
      <div class="grid-items mx-auto">
         <div class="lg:flex lg:justify-center">
            <img loading="lazy" id="destinationImage" class="w-[455px] lg:w-[400px]" src="../dist/assets/destination/image-moon.webp">
         </div>
      </div>
      <div class="grid-items mx-auto w-[100%]">
         <div class="planet-links text-[20px] flex gap-12 h-[50px] lg:justify-around lg:w-[280px] lg:mx-auto lg:my-[3rem] lg:gap-8 md:gap-6">
            <div class="hover:border-[rgb(151,151,151)] hover:border-b-4">
               <span id="moonLink" class="link-name">Moon</span>
            </div>
            <div class="hover:border-[rgb(151,151,151)] hover:border-b-4">
               <span id="marsLink" class="link-name">Mars</span>
            </div>
            <div class="hover:border-[rgb(151,151,151)] hover:border-b-4">
               <span id="europaLink" class="link-name">Europa</span>
            </div>
            <div class="hover:border-[rgb(151,151,151)] hover:border-b-4">
               <span id="titanLink" class="link-name">Titan</span>
            </div>
         </div>
         <div>
            <h1 id="destinationName" class="planet-heading lg:text-center xs:text-[90px]">MOON</h1>
         </div>
         <div>
            <p id="destinationDetails" class="barlow leading-8 text-[22px] mb-[3.5rem] lg:text-center lg:mx-10 sm:mx-0">See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain perspective and come back refreshed. While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.</p>
         </div>
         <hr class="opacity-50">
         <div class="flex gap-[5rem] lg:text-center lg:justify-center lg:flex-col mt-[3rem] lg:gap-[3.5rem] md:gap-[2.5rem]">
            <div>
               <span class="opacity-60">AVG. DISTANCE</span>
               <h4 id="destinationDistance">384,400 KM</h4>
            </div>
            <div>
               <span class="opacity-60">EST. TRAVEL TIME</span>
               <h4 id="destinationETA">3 DAYS</h4>
            </div>
         </div>
      </div>
   </div>
</main>