<main class="mx-[100px] mt-[7rem] xl:mx-[86px] sm:mx-[2.5rem]">
	<div class="main-content grid grid-cols-2 lg:block">
		<div class="home-details ml-[5rem] w-[410px] xl:ml-0 mb-10 md:text-center md:mx-auto md:w-auto">
			<div>
				<h5>SO, YOU WHAT TO TRAVEL TO SPACE</h5>
			</div>
			<div>
				<h1 class="sm:text-[90px]">SPACE</h1>
			</div>
			<div>
				<p class="opacity-70 leading-8 tracking-wide">Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!</p>					
			</div>
		</div>			
		<div class="explore-box flex justify-end mr-8 mb-16 md:justify-center md:mx-auto">
			<div class="explore-wrapper w-[330px] h-[330px] rounded-full flex place-content-center sm:w-[270px] sm:h-[270px]">
				<div class="explore-button w-[200px] h-[200px] bg-white rounded-full flex place-content-center my-auto mx-auto sm:w-[170px] sm:h-[170px]">
					<div class="flex place-content-center">
						<a href="/destination" class="inline-block my-auto mx-auto">
							<h4 class="text-black">EXPLORE</h4>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>