<main>
   <h5 class="tracking-widest ml-[8rem] my-[3rem] xl:ml-[4rem] sm:ml-[1rem]"><span class="opacity-50 mr-5">03</span>SPACE LAUNCH 101</h5>
   <div class="hidden lg:block">
      <img class="lg:w-[100%] lg:min-h-[170px]" id="landscapeImage" src="../dist/assets/technology/image-launch-vehicle-landscape.jpg">
   </div>
   <div class="grid grid-cols-2 lg:block">
      <div class="grid-items ml-[4rem] flex mt-[8rem] mb-[10rem] xl:ml-[2rem] lg:flex-col lg:mx-auto lg:mb-[5rem] lg:mt-[2rem]">
         <div class="mx-[4rem] xl:mx-[2rem] lg:flex lg:justify-between lg:w-[210px] lg:mx-auto">
            <span id="vehicle" class="highlight rounded-full w-[60px] h-[60px] border border-white/40 flex place-content-center mb-10 sm:w-[40px] sm:h-[40px]">
               <span class="my-auto bellefair text-[26px] sm:text-[18px]">1</span>
            </span>
            <span id="spaceport" class="highlight rounded-full w-[60px] h-[60px] border border-white/40 flex place-content-center mb-10 sm:w-[40px] sm:h-[40px]">
               <span class="my-auto bellefair text-[26px] sm:text-[18px]">2</span>
            </span>
            <span id="capsule" class="highlight rounded-full w-[60px] h-[60px] border border-white/40 flex place-content-center mb-10 sm:w-[40px] sm:h-[40px]">
               <span class="my-auto bellefair text-[26px] sm:text-[18px]">3</span>
            </span>
         </div>
         <div class="lg:text-center">
            <span class="tracking-widest opacity-60 ">THE TERMINOLOGY...</span>
            <h3 id="techName" class="tracking-widest md:text-[32px]">LAUNCH VEHICLE</h3>
            <p id="techDescription" class="barlow opacity-70 leading-10 max-w-[394px] text-[16px] lg:max-w-[420px] lg:mx-auto sm:mx-[1.5rem] sm:text-[14px] sm:leading-8">
               A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, it's quite an awe-inspiring sight on the launch pad!s
            </p>
         </div>
      </div>
      <div class="grid-items relative lg:hidden">
         <div class="absolute top-0 right-[2px]">
            <img loading="lazy" id="techImage" src="../dist/assets/technology/image-launch-vehicle-portrait.jpg" alt="tech">
         </div>
      </div>
   </div>
</main>