h1{
   font-family: 'Bellefair', serif;
   font-size: 110px;
}

h2{
   font-family: 'Bellefair', serif;
   font-size: 90px;
}

h3{
   font-family: 'Bellefair', serif;
   font-size: 50px;
}

h4{
   font-family: 'Bellefair', serif;
   font-size: 30px;
}

h5{
   font-family: 'Barlow Condensed', sans-serif;
   font-size: 24px;
}

span{
   font-family: 'Barlow Condensed', sans-serif;
   font-size: 18px;
}

.barlow{
   font-family: 'Barlow Condensed', sans-serif;
}

.link-num{
   font-weight: 600;
}