body{
   background-image: url("../assets/home/background-home-desktop.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   color: #FFFFFF;
}

.explore-wrapper:hover{
   background-color: rgb(255 255 255 / 0.3)
}

.active-link{
   border-color: #ffffff;
   border-bottom: 4px;
   border-style: solid;
}

.hide-item{
   display: none;
}

@media (max-width: 850px) {
   body{
      background-image: url("../assets/home/background-home-tablet.jpg");
   }
}

@media (max-width: 425px) {
   body{
      background-image: url("../assets/home/background-home-mobile.jpg");
   }
}